/* ---------------Box Sizing----------------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
 
 
/* Skip link utility: hidden until focused */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body{
  font-family: "Parkinsans", sans-serif;
}

header.primary{
  background-color: #E6B0FF;
  color:#ffffff;
  text-align: center;
  text-shadow: 1px 1px 10px #640D8C;
}

/* My color palette: #640D8C, #451A59, #CB77F2, #E6B0FF, #F6E3FF */

/* My font stack: 
For the <head> of my html: 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">

CSS class for a variable style:
.parkinsans-<uniquifier> {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto; - NOT NEEDED
  font-weight: <weight>; - NOT NEEDED
  font-style: normal; - NOT NEEDED
}*/